@import url("/assets/fonts.css");
.sans-serif {
  font: sans-serif;
}

.monospace, button, .button, input, textarea, select, body {
  font: 93.75%/1.5 "Courier Prime", monospace;
}

html {
  --background: #fff;
  --primary: #000;
  color: #000;
  scrollbar-color: var(--primary) transparent;
}
@media (prefers-color-scheme: dark) {
  html {
    --background: #161616;
    --primary: #fff;
    color: #fff;
  }
}

body {
  background: #fff;
  background: var(--background, #fff);
  color: #000;
  color: var(--primary, #000);
  line-height: 1.5;
  margin: auto;
  max-width: 720px;
  padding: 10px;
  word-break: break-word;
  overflow-wrap: break-word;
}
body * {
  max-width: 100%;
}

main a {
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: dashed;
  word-wrap: break-word;
  cursor: pointer;
}

main a:hover {
  border: none;
}

a, hr {
  color: #000;
  color: var(--primary, #000);
}

*::selection {
  color: #fff;
  color: var(--background, #fff);
  background: #000;
  background: var(--primary, #000);
}

header {
  padding: 10px 0;
  text-align: center;
}
header * {
  margin-top: 0;
  margin-bottom: 0;
}

h1 a, h2 a, nav a, header a {
  text-decoration: none;
  border: none;
}

img {
  max-width: 100%;
  max-height: 500px;
  height: auto;
  width: auto;
}

ul {
  padding-left: 1.5rem;
}

button, .button, input, textarea, select {
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  border-radius: 0;
  background: #fff;
  background: var(--background, #fff);
  color: #000;
  color: var(--primary, #000);
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
}
button:focus, .button:focus, input:focus, textarea:focus, select:focus {
  outline: 3px solid #000;
  outline: 3px solid var(--primary, #000);
}

form input, form textarea, form select {
  margin-bottom: 5px;
}
form textarea {
  display: block;
}

blockquote {
  border-left: 5px solid #000;
  border-left: 5px solid var(--primary, #000);
  padding-left: 20px;
  margin-left: 0;
}

pre {
  padding: 10px;
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  white-space: pre-wrap;
}

mark, :not(pre) > code {
  font-size: 1rem;
}

/* Initial values for Chroma */
.c-chroma {
  background: #fff;
  color: #000;
}

code {
  font-family: monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  overflow-x: auto;
}

tr, td, th {
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  padding: 5px;
}

footer {
  padding: 1rem 0;
  text-align: center;
  border-top: 1px solid var(--primary);
  margin-top: 100px;
}
footer * {
  margin-top: 0;
  margin-bottom: 0;
}

details summary {
  padding: 0.5rem 0;
  position: relative;
  cursor: pointer;
  list-style: none;
  outline: 0;
  padding-left: 20px;
}
details summary > *:first-child {
  display: inline;
}

summary:hover {
  cursor: pointer;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary:after {
  content: "+";
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  left: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
}

.border-top {
  border-top: 1px solid #000;
  border-top: 1px solid var(--primary, #000);
}

.border-bottom {
  border-bottom: 1px solid #000;
  border-bottom: 1px solid var(--primary, #000);
  margin-bottom: 1rem;
}

.p, .actions, table {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide {
  display: none;
}

.in {
  display: inline;
}

.fw, audio, form.fw, form.fw input:not([type]), form.fw input[type=submit], form.fw input[type=button], form.fw input[type=text], form.fw input[type=email], form.fw input[type=url], form.fw input[type=password], form.fw input[type=file], form.fw textarea, form.fw select {
  width: 100%;
}

.ct {
  text-align: center;
}

.h400p {
  height: 400px;
}

.captchaimg {
  background-color: #fff;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.turn-around {
  transform: rotate(180deg);
}

.egg-anim {
  transition: transform 2s ease;
}

.invert, .menu-icon, .navbar li:hover a, .pagination a, #announcement *, #announcement, main a:hover, mark, :not(pre) > code {
  color: #fff;
  color: var(--background, #fff);
  background: #000;
  background: var(--primary, #000);
}
.invert::selection, .menu-icon::selection, .navbar li:hover a::selection, .pagination a::selection, #announcement ::selection, #announcement::selection, main a:hover::selection, mark::selection, :not(pre) > code::selection {
  color: #000;
  color: var(--primary, #000);
  background: #fff;
  background: var(--background, #fff);
}

.preview {
  padding: 10px;
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  margin-bottom: 5px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.actions * {
  text-align: center;
}

#map {
  height: 400px;
}

#announcement {
  padding: 5px;
  margin-top: 2rem;
  text-align: center;
}
#reactions button:focus, #reactions .button:focus {
  outline: none;
  box-shadow: none;
}

@media print {
  html {
    --background: #fff;
    --primary: #000;
    color: #000;
  }
  body {
    font-family: serif;
    max-width: inherit;
  }
  nav,
  .actions,
  #tts,
  #interactions,
  #tor,
  #menu,
  #announcement {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .e-content a[href]:after {
    content: " [" attr(href) "]";
  }
}
.post-section {
  font-weight: bold;
  border: none;
}

.profile-pic {
  width: 96px !important;
  height: 96px !important;
}

.book-cover, .playlist-track img {
  float: left;
  margin-right: 1rem;
  max-width: 70px !important;
}

.album-title, .book-title {
  font-size: 16px;
}

.album-artist, .book-author {
  font-weight: bold;
}

.read-of, .playlist-track {
  display: inline-block;
  width: 100%;
}

.chart {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}

.chart-item {
  text-align: left;
  max-width: 250px;
}

.meta-text {
  font-size: small;
}
.meta-text > a {
  font-weight: bold;
  border: none;
}

.vinyl-case {
  border: 0;
  margin-left: -8px;
  margin-bottom: 0;
  height: 168px;
  width: 230px;
  border-image: url("/images/vinylcase.png") 0 fill;
}

.album-art {
  position: relative;
  z-index: -1;
  width: 153px;
  height: 153px;
  margin: 5px 8px;
}

.syndication {
  text-align: right;
}
.syndication > a, .syndication a:hover {
  border: none;
  background: none;
}

.mixtape-post-listing a {
  border: none;
}

.mixtape-post-title a:hover {
  background: none;
}

.inline-playlist {
  margin: 1rem;
  width: 36%;
  border: 1px solid var(--primary);
  background: var(--background);
  padding: 10px;
}

.inline-playlist a:hover {
  color: var(--primary);
}

.pagination {
  display: inline;
}
.pagination a {
  border: none;
  padding: 10px;
  font-weight: bold;
  width: 40%;
  text-align: center;
}

.next-page {
  float: right;
}

.prev-page {
  float: left;
}

.navbar {
  list-style-type: none;
  margin-top: 10px;
  padding: 0;
  position: absolute;
}

.navbar li {
  display: block;
}

.navbar li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  border: none;
  font-size: large;
}

.navbar li ul .navbar li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}

.show-menu {
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  display: none;
}

.menu-icon {
  margin-top: 1rem;
}

.user-menu {
  margin: auto;
  width: 300px;
}

.user-menu a {
  font-size: 19px;
}

.menu-item {
  text-decoration: none !important;
  display: inline-block;
  border: none;
}

header input[type=checkbox] {
  display: none;
}

header input[type=checkbox]:checked ~ #menu {
  display: block;
  width: 100%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .menu {
    position: static;
    display: none;
  }
  .menu-item {
    margin-bottom: 1px;
  }
  /*Display 'show menu' link*/
  .show-menu {
    display: block;
  }
}
.social-icons {
  display: inline-flex;
}

.social-icons img {
  width: 15px;
}

.social-link {
  margin: 5px;
}

.social-link a {
  border: none;
}

.fontawesome {
  background: var(--background);
}

.twitter {
  filter: invert(47%) sepia(86%) saturate(2571%) hue-rotate(182deg) brightness(106%) contrast(90%);
}

.mastodon {
  filter: invert(44%) sepia(99%) saturate(488%) hue-rotate(168deg) brightness(89%) contrast(85%);
}

.sonemic {
  filter: invert(28%) sepia(55%) saturate(1092%) hue-rotate(189deg) brightness(96%) contrast(89%);
}

.microblog {
  filter: invert(81%) sepia(50%) saturate(5948%) hue-rotate(0deg) brightness(105%) contrast(103%);
}

.github {
  filter: invert(12%) sepia(7%) saturate(1293%) hue-rotate(173deg) brightness(100%) contrast(90%);
}

.rss-feed {
  filter: invert(53%) sepia(20%) saturate(2929%) hue-rotate(352deg) brightness(94%) contrast(93%);
}

.spotify {
  filter: invert(87%) sepia(14%) saturate(5946%) hue-rotate(75deg) brightness(89%) contrast(89%);
}

.masonry-wrapper img {
  max-width: inherit;
}

.nowplaying {
  display: flex;
}

.nowplaying-art {
  display: inline;
  vertical-align: middle;
  margin-right: 5px;
  width: 2rem;
}

/* Desktop */
@media only screen and (min-width: 768px) {
  header {
    text-align: left;
    height: 120px;
  }
  .navbar {
    max-width: 150px;
  }
  .navbar li a {
    font-size: 1rem;
  }
  .menu {
    position: absolute;
    top: 150px;
  }
  main, .indieauth, .user-menu, footer {
    margin-left: 150px;
    max-width: 560px;
  }
  main h1, main h2 {
    margin: 0;
  }
  .profile-pic {
    width: 110px !important;
    height: 110px !important;
    float: left;
    margin: 0 30px 0 0;
    border: 5px solid var(--primary);
  }
  .nowplaying {
    display: flex;
    position: absolute;
    top: 25px;
    margin-left: 275px;
    width: 275px;
    font-size: small;
  }
  .actions, #reactions, #interactions {
    margin-left: 150px;
  }
  main .actions {
    margin-left: 0;
  }
}
