@font-face {
  font-display: swap;
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/courier-prime-ext-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 400;
  src: url("/assets/fonts/courier-prime-ext-italic.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Courier Prime";
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/courier-prime-ext-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Courier Prime";
  font-style: italic;
  font-weight: 700;
  src: url("/assets/fonts/courier-prime-ext-700italic.woff2") format("woff2");
}
.monospace, button, .button, input, textarea, select, body, .serif, article h1.p-name, article h2.p-name, .h-feed h1, footer, header h1 a {
  font-family: "Courier Prime", "Courier New", monospace;
}

.serif, article h1.p-name, article h2.p-name, .h-feed h1, footer, header h1 a {
  letter-spacing: -1px;
}

html {
  --background: #E7E8BE;
  --primary: #000;
  color: #000;
}
@media (prefers-color-scheme: dark) {
  html {
    --background: #151515;
    --primary: #E7E8BE;
    color: #fff;
  }
}

body {
  background: #E7E8BE;
  background: var(--background, #E7E8BE);
  color: #000;
  color: var(--primary, #000);
  line-height: 1.5;
  margin: auto;
  max-width: 680px;
  word-break: break-word;
  overflow-wrap: break-word;
}

header {
  padding-top: 35px;
  text-align: center;
}
header .avatar {
  border: 2px solid var(--primary);
  width: 96px;
  height: 96px;
}
header h1 {
  line-height: 1;
}
header h1 a {
  font-size: 25px;
}
header p {
  font-size: 14px;
}
header * {
  margin-top: 0;
  margin-bottom: 0;
  border: none;
  text-decoration: none;
}
main {
  position: relative;
  padding: 5px;
  padding-bottom: 0;
}
main .h-entry {
  margin-bottom: 2rem;
}
main svg {
  vertical-align: middle;
  margin-right: 5px;
}
main a {
  text-decoration: none;
  border-width: 0 0 1px 0;
  border-style: dashed;
  word-wrap: break-word;
  cursor: pointer;
}
main a:hover {
  border: none;
}
main article h1.p-name {
  font-size: 1.5em;
  border-bottom: 2px dashed;
  margin-bottom: 5px;
}

a, hr {
  color: #000;
  color: var(--primary, #000);
}

*::selection {
  color: #E7E8BE;
  color: var(--background, #E7E8BE);
  background: #000;
  background: var(--primary, #000);
}

img, video {
  max-width: 100%;
  max-height: 380px;
  height: auto;
  width: auto;
}

ul {
  padding-left: 1.5rem;
}

button, .button, input, textarea, select {
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  border-radius: 0;
  background: #E7E8BE;
  background: var(--background, #E7E8BE);
  color: #000;
  color: var(--primary, #000);
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;
}
button:focus, .button:focus, input:focus, textarea:focus, select:focus {
  outline: 3px solid #000;
  outline: 3px solid var(--primary, #000);
}

form input, form textarea, form select {
  margin-bottom: 5px;
}
form textarea {
  display: block;
}

blockquote {
  border-left: 5px solid #000;
  border-left: 5px solid var(--primary, #000);
  margin-left: 0;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-style: italic;
  font-size: 15px;
}

.h-cite blockquote {
  border: 1px solid;
  border-left: 10px solid #000;
  border-left: 10px solid var(--primary, #000);
  overflow: hidden;
  background: rgba(200, 200, 200, 0.32);
}

pre {
  padding: 10px;
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  white-space: pre-wrap;
}

mark, :not(pre) > code {
  font-size: 1rem;
}

/* Initial values for Chroma */
.c-chroma {
  background: #fff;
  color: #000;
}

code {
  font-family: monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  overflow-x: auto;
}

tr, td, th {
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  padding: 5px;
}

details summary {
  padding: 5px 0;
  position: relative;
  cursor: pointer;
  list-style: none;
  outline: 0;
  padding-left: 25px;
}
details summary > *:first-child {
  display: inline;
}

summary:hover, .show-menu:hover {
  cursor: pointer;
}

details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary:after {
  content: "+";
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.65rem;
  left: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

details[open] summary:after {
  transform: rotate(45deg);
}

.p, .actions, table {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide, .nowplaying {
  display: none;
}

.fw, header h1, audio, form.fw, form.fw input:not([type]), form.fw input[type=submit], form.fw input[type=button], form.fw input[type=text], form.fw input[type=email], form.fw input[type=url], form.fw input[type=password], form.fw input[type=file], form.fw textarea, form.fw select {
  width: 100%;
}

.ct {
  text-align: center;
}

.h400p {
  height: 400px;
}

.captchaimg {
  background-color: #fff;
}

.invert, .menu-icon, .show-menu, .pagination a, .h-feed h1.p-name, #interactions summary, #announcement *, #announcement, header nav a:hover, main a:hover, mark, :not(pre) > code {
  color: #E7E8BE;
  color: var(--background, #E7E8BE);
  background: #000;
  background: var(--primary, #000);
}
.invert::selection, .menu-icon::selection, .show-menu::selection, .pagination a::selection, .h-feed h1.p-name::selection, #interactions summary::selection, #announcement ::selection, #announcement::selection, header nav a:hover::selection, main a:hover::selection, mark::selection, :not(pre) > code::selection {
  color: #000;
  color: var(--primary, #000);
  background: #E7E8BE;
  background: var(--background, #E7E8BE);
}

.preview {
  padding: 10px;
  border: 1px solid #000;
  border: 1px solid var(--primary, #000);
  margin-bottom: 5px;
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.actions * {
  text-align: center;
}

#map {
  height: 400px;
}
#map * {
  max-width: unset;
}

#announcement {
  padding: 5px;
  margin-top: 2rem;
  text-align: center;
}
#reactions button:focus, #reactions .button:focus {
  outline: none;
  box-shadow: none;
}

footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
footer * {
  margin-top: 0;
  margin-bottom: 0;
}
footer a {
  color: #fff;
}

@media print {
  html {
    --background: #E7E8BE;
    --primary: #000;
    color: #000;
  }
  body {
    font-family: serif;
    max-width: inherit;
  }
  nav,
  .actions,
  #tts,
  #interactions,
  #tor,
<<<<<<< HEAD
  #menu,
  .category,
  #announcement,
  .pagination {
=======
  #announcement {
>>>>>>> upstream/master
    display: none;
  }
  a {
    text-decoration: none;
  }
  .e-content a[href]:after {
    content: " [" attr(href) "]";
  }
}
.user-menu {
  position: absolute;
  top: 5px;
  z-index: 1;
  border: none;
  text-align: left;
  display: block;
}
.user-menu a {
  display: inline-block;
  padding: 0;
}

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
}

a.social-link {
  margin-right: 5px;
  padding: 5px;
}

.h-feed {
  position: relative;
  padding-left: 40px;
}
.h-feed h1 {
  font-size: 1.5em;
  margin: 0;
}
.h-feed h1.p-name {
  margin-top: -5px;
  margin-left: -22px;
}
.h-feed .nowplaying {
  background: var(--background);
  color: var(--primary);
  font-size: small;
  display: grid;
  grid-template-columns: 2rem auto;
  border: 2px solid var(--primary);
  padding: 5px;
  margin: -5px 0 0 -35px;
  margin-bottom: 1rem;
}
.h-feed .nowplaying img {
  margin: 0 -5px;
}

.h-feed::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: -90px;
  border-left: 2px solid var(--primary);
  z-index: -1;
}

article h1.p-name, article h2.p-name {
  margin: 0;
  font-size: 1.2em;
}
article h1.p-name a, article h2.p-name a {
  border-bottom: 1px dashed;
}
article h1.p-name a:hover, article h2.p-name a:hover {
  border: none;
}

.category {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  text-shadow: 1px 2px 1px #000;
}
.category * {
  text-decoration: none;
  border: none;
  padding-top: 1px;
}

.visibility {
  margin-right: 10px;
}

.post-section {
  font-weight: bold;
}

a.permalink.u-url {
  font-size: small;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin-top: 1rem;
}

.book-cover, .playlist-track img {
  float: left;
  margin-right: 1rem;
  max-width: 70px !important;
}

.album-info p {
  margin: 0;
}

.album-artist, .book-title {
  font-weight: bold;
}

.read-of, .playlist-track {
  display: inline-block;
  width: 100%;
}

.vinyl-case {
  border: 0;
  margin-left: -5px;
  margin-bottom: 0;
  height: 168px;
  width: 230px;
  border-image: url("/images/vinylcase.png") 0 fill;
}

.album-art {
  position: relative;
  z-index: -1;
  width: 153px;
  height: 153px;
  margin: 5px 8px;
}

.np-track {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px auto;
  border: 1px;
}

.np-track img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.np-info {
  display: flex;
  flex-direction: column;
}

.np-title {
  font-weight: bold;
}

.np-artist {
  color: gray;
}

.syndication {
  text-align: right;
}
.syndication > a, .syndication a:hover {
  border: none;
  background: none;
}

.inline-playlist {
  margin: 1rem;
  width: 36%;
  border: 1px solid var(--primary);
  background: var(--background);
  padding: 10px;
}

.pagination {
  margin: 0 -5px 2px -40px;
  display: flex;
  font-size: 26px;
}
.pagination a {
  width: 100%;
  text-align: center;
  border: 1px solid var(--primary) !important;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: 0px 5px 5px var(--background);
}
.pagination a:hover {
  background: var(--background);
  color: var(--primary);
}

.menu {
  text-align: left;
  display: none;
  grid-template-columns: auto auto;
  padding: 0;
}
.menu * {
  display: none;
}
.menu a {
  display: block;
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  height: max-content;
}

.show-menu {
  text-decoration: none;
  display: block;
  margin: 0 5px;
  border: none;
  padding: 8px;
  text-align: center;
  font-size: large;
}

header input[type=checkbox] {
  display: none;
}

header input[type=checkbox]:checked ~ #menu {
  display: grid;
  margin-bottom: 1rem;
  z-index: 1;
}

@media only screen and (min-width: 576px) {
  header {
    text-align: left;
    height: 110px;
  }
  header .avatar {
    float: left;
    margin: 0 15px 0 0;
  }
  .show-menu {
    display: none;
  }
  .menu {
    position: absolute;
    top: 140px;
    color: var(--primary);
    display: block;
    padding: 0;
  }
  main, footer, #interactions, #reactions, .indieauth, .actions:not(form.actions) {
    margin-left: 110px;
  }
  .menu a {
    font-size: 1rem;
    display: block;
    background: var(--background);
    color: var(--primary);
    margin: 5px 0;
    border: none;
    padding: 5px;
  }
  .social-icons {
    justify-content: left;
  }
  a.social-link {
    padding: 5px;
  }
}
