// Font

@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: normal; font-weight: 400; src: url('/assets/fonts/courier-prime-ext-regular.woff2') format('woff2'),}
@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: italic; font-weight: 400; src: url('/assets/fonts/courier-prime-ext-italic.woff2') format('woff2'),}
@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: normal; font-weight: 700; src: url('/assets/fonts/courier-prime-ext-700.woff2') format('woff2'),}
@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: italic; font-weight: 700; src: url('/assets/fonts/courier-prime-ext-700italic.woff2') format('woff2'),}

$colors: (
  background: #F9F9FB,
  background-dark:#101010,
  primary: #000,
  primary-dark: #F3F5F7,
);

@mixin color($property, $varName) {
  #{$property}: map-get($colors, $varName);
  #{$property}: var(--#{$varName}, map-get($colors, $varName));
}

@mixin color-border($property, $val1, $val2, $varName) {
  #{$property}: #{$val1} #{$val2} map-get($colors, $varName);
  #{$property}: #{$val1} #{$val2} var(--#{$varName}, map-get($colors, $varName));
}

@mixin lightmode {
  --background: #{map-get($colors, background)};
  --primary: #{map-get($colors, primary)};
  color: #000;
}

@mixin darkmode {
  --background: #{map-get($colors, background-dark)};
  --primary: #{map-get($colors, primary-dark)};
  color: #fff;
}

.monospace {
  font-family: 'Courier Prime', 'Courier New', monospace;
}
.serif {
  @extend .monospace;
  letter-spacing: -1px;
}

html {
  @include lightmode;
  @media (prefers-color-scheme: dark) {
    @include darkmode;
  }
}

body {
  @extend .monospace;
  @include color(background, background);
  @include color(color, primary);
  line-height: 1.5;
  margin: auto;
  max-width: 600px;
  word-break: break-word;
  overflow-wrap: break-word;
}

header {
  padding-top: 50px;
  margin: 0 5px;
  .avatar {
    border: 2px solid #000;
    width: 56px;
    height: 56px;
    margin: auto 5px 5px auto;
    float: left;
  }

  h1 {
    line-height: 1;
    @extend .fw;
    a {
      @extend .serif;
      font-size: 23px;
    }
  }
  p {
    margin-top: 5px;
    font-size: 14px;
    line-height: 1.3;
  }

  * {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    text-decoration: none;
  }
}

main {
  position: relative;
  padding: 0 5px;
  padding-bottom: 0;
  .h-entry, .intro, .nowplaying {
    margin-bottom: 1rem;
    //border: 1px solid #000;
    .e-content {
      padding: 5px;
    }
  }
  svg {
    vertical-align: middle;
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: dashed;
    word-wrap: break-word;
    cursor: pointer;
  }
  a:hover {
    color: #fff;
    background: #000;
    border: none;
  }
  a[href$=".jpg"], a[href$=".png"], a[href$=".gif"], a[href$=".jpeg"], a[href$=".webp"], a[href$=".JPG"], a[href$=".PNG"], a[href$=".GIF"], a[href$=".JPEG"], a[href$=".WEBP"] {
    text-decoration: none;
    border: none;
  }
  article h1.p-name {
    font-size: 1.5em;
    margin-bottom: 5px;
  }
}

a, hr {
  @include color(color, primary);
}

*::selection {
  @include color(color, background);
  @include color(background, primary);
}

img, video {
  max-width: 100%;
  max-height: 500px;
}

ul {
  padding-left: 1.5rem;
}

audio {
  @extend .fw;
}

button, input, textarea, select {
  @include color-border(border, 1px, solid, primary);
  border-radius: 0;
  @include color(background, background);
  @include color(color, primary);
  @extend .monospace;
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;

  &:focus {
    @include color-border(outline, 3px, solid, primary);
  }
}

.button {
  @extend button;
}

form {
  input, textarea, select {
    margin-bottom: 5px;
  }
  textarea {
    display: block;
  }
}

form.fw {
  @extend .fw;

  input:not([type]), input[type="submit"], input[type="button"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="file"], textarea, select {
    @extend .fw;
  }
}

blockquote {
  @include color-border(border-left, 5px, solid, primary);
  margin-left: 0;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-style: italic;
  font-size: 15px;
}

.h-cite blockquote {
  border: 1px solid;
  @include color-border(border-left, 10px, solid, primary);
  overflow: hidden;
  background: rgba(200, 200, 200, 0.32);
}

pre {
  padding: 10px;
  @include color-border(border, 1px, solid, primary);
  white-space: pre-wrap;
}

mark, :not(pre) > code {
  font-size: 1rem;
  @extend .invert;
}

/* Initial values for Chroma */
.c-chroma {
  background: #fff;
  color: #000;
}

code {
  font-family: monospace;
}

table {
  @extend .p;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  overflow-x: auto;
}

tr, td, th {
  @include color-border(border, 1px, solid, primary);
  padding: 5px;
}

details summary {
	padding: 5px 0;
	position: relative;
	cursor: pointer;
	list-style: none;
  outline: 0;
	padding-left: 25px;
  // Show first child of summary inline
  > *:first-child {
    display: inline;
  }
}

summary:hover {
  cursor: pointer;
}

details[open] summary ~ * {
	animation: open 0.3s ease-in-out;
	}
	  
	@keyframes open {
		0% {
		  opacity: 0;
		}
		100% {
		  opacity: 0.5;
		}
	}
	
details summary::-webkit-details-marker {
	display: none;
}
	
details summary:after {
	content: "+";
	position: absolute;
	font-size: 1.75rem;
	line-height: 0;
	margin-top: 12px;
	left: 0;
	font-weight: 200;
	transform-origin: center;
	transition: 200ms linear;
}

details[open] summary:after {
	transform: rotate(45deg);
}

.p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide, main.h-feed hr, .emoji-tag, .p-summary {
  display: none;
}
.fw {
  width: 100%;
}

.ct {
  text-align: center;
}

.h400p {
  height: 400px;
}

.captchaimg {
  background-color: #fff;
}

.invert {
  @include color(color, background);
  @include color(background, primary);
  &::selection {
    @include color(color, primary);
    @include color(background, background);
  }
}

.preview {
  padding: 10px;
  @include color-border(border, 1px, solid, primary);
  margin-bottom: 5px;
}

.actions {
  @extend .p;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  * {
    text-align: center;
  }
}

#map {
  height: 400px;

  * {
    max-width: unset;
  }
}

#announcement {
  @extend .invert;
	padding: 5px;
  margin-top: 2rem;
	text-align: center;
  * {
    @extend .invert;
  }
}

#reactions button:focus {
  outline: none;
  box-shadow: none;
}

#interactions summary {
  background: #000;
  color: #fff;
}

footer {
  @extend .serif;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  * {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: #fff;
    text-decoration: none;
  }
  nav a {
    border-bottom: 1px dashed #fff;
  }
  nav a:hover {
    background: #fff;
    color: #000;
  }
}

// Print
@media print {
  html {
    @include lightmode;
  }

  body {
    font-family: serif;
    max-width: inherit;
  }

  nav,
  .actions,
  #tts,
  #interactions,
  #tor,
  #menu,
  .category,
  #announcement,
  .pagination {
    display: none;
  }

  a {
    text-decoration: none;
  }

  // Show link
  .e-content a[href]:after {
    content: " [" attr(href) "]";
  }
}

// Custom CSS Classes

.h-feed {
  position: relative;
  padding-left: 2rem;
  h1 {
    @extend .serif;
    font-size: 1.5em;
    margin: 0;
  }
  h1.p-name {
    margin-left: -27px;
    background: #000 !important;
    color: #fff !important;
    a {
      border: none;
    }
  }
  .e-content {
    margin: 0;
  }
}

.h-feed::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: -1rem;
  bottom: -90px;
  border-left: 2px solid #000;
  z-index: -1;
}

.h-feed .h-entry .post-footer {
  text-align: left;
  color: #fff;
  background: #000;
  a {
    color: #fff;
    background: #000;
    border: none;
  }
}

article h1.p-name, article h2.p-name {
  @extend .serif;
  margin: 0;
  font-size: 1.2em;
  //padding-left: 5px;
  a {
    border-bottom: 1px dashed;
  }
  a:hover {
    border: none;
  }
}

.category {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  margin-top: -1px;
  * {
    text-decoration: none;
    border: none;
    padding-top: 1px;
  }
}

.visibility {
  margin-right: 10px;
}

.post-section {
	font-weight: bold;
}

a.permalink.u-url {
  font-size: 14px;
  padding-left: 5px;
  font-weight: bold;
}

a.date.permalink.u-url:hover {
  background: black;
  color: white;
  border: none;
}

#interactions {
  margin: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin-top: 1rem;
  * {
    margin: 0;
  }
}

.book-cover, .playlist-track img {
	float: left; 
	margin-right: 1rem;
	width: 70px !important;
  height: 105px !important;
  border: 1px solid #000;
  border-left: 5px solid #000;
}

.book-details {
  margin: 5px auto;
}

.album-details {
  display: grid;
  grid-template-columns: auto;

  > *:not(.vinyl-case):not(.album-info) {
    display: none;
  }
  > .vinyl-case *, .album-info * {
    display: block;
  }
}


.album-info {
  display: grid;
  align-content: center;
  align-items: center;
}


main.h-feed .e-content p:first-child, .album-info p {
  margin: 0;
}

.album-artist, .book-title {
  font-weight: bold;
}

.playlist-track {
  display: inline-block;
  width: 100%;
}

.read-of {
  display: flex;
  align-content: center;
  align-items: center;
  .reading {
    border-left: 5px solid;
  }
}

.vinyl-case {
	border: 0;
  margin: 0 auto auto -2px;
	height: 168px;
	width: 230px;
	border-image: url("/images/vinylcase.png") 0 fill;
}

.album-art {
	position: relative;
	z-index: -1;
	width: 153px;
	height: 153px;
	margin: 5px 8px;;
}

.np-track, .np-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px auto;
  border-left: 5px solid #000;
}

.np-track img, .np-item img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.np-info {
  display: flex;
  flex-direction: column;
}

.np-title {
  font-weight: bold;
}

.np-artist {
  color: gray;
}

.syndication {
  font-size: small;
  padding: 5px auto;
  display: inline-flex;
  gap: 5px;
  img {
    vertical-align: middle;
  }
}

.inline-playlist {
  margin: 1rem;
  width:36%;
  border:1px solid var(--primary);
  background: var(--background);
  padding: 10px;
}

.readmore {
  display: inline-block;
  font-weight: bold;
  a:hover {
    border: 1px solid black !important;
  }
}

.pagination {
  margin: 0 -5px 2px -32px;
  display: flex;
  a {
    @extend .invert;
    color: #fff;
    background: #000;
    width: 100%;
    text-align: center;
    border: 1px solid #000 !important;
    font-size: 1.2rem;
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 5px 5px var(--background);
  }
  a:hover {
    background: var(--background);
    color: var(--primary);
  }
}

.intro, .nowplaying {
  padding: 0 5px;
  p:first-child {
    margin: 0;
  }
}

.spotlight-text {
  background: #000;
  color: #fff !important;
  margin: auto -5px;
  font-weight: 700;
  display: block;
}

.summary {
  margin: 5px;
}

.post-info {
  margin: 0;
  summary {
    opacity: 0.5 !important; 
    font-size: .875rem
  }
}

// Icons

.social-icons {
  display: inline-flex;
  justify-content: center;
  padding: 0;
  a {
    padding: 0 5px;
    border: none;
  }
}

.social-link {
  margin-left: 5px;
}

.mastodon {
  filter: invert(44%) sepia(99%) saturate(488%) hue-rotate(168deg) brightness(89%) contrast(85%);
  background-image: url('/assets/icons/mastodon.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.microblog {
  filter: invert(81%) sepia(50%) saturate(5948%) hue-rotate(0deg) brightness(105%) contrast(103%);
  background-image: url('/assets/icons/microblog.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.rss {
  filter: invert(53%) sepia(20%) saturate(2929%) hue-rotate(352deg) brightness(94%) contrast(93%);
  background-image: url('/assets/icons/rss.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.sonemic {
  background-image: url('/assets/icons/sonemic.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.letterboxd {
  background-image: url('/assets/icons/letterboxd.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.spotify {
  filter: invert(56%) sepia(81%) saturate(464%) hue-rotate(88deg) brightness(87%) contrast(89%);
  background-image: url('/assets/icons/spotify.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.youtube {
  filter: invert(11%)sepia(95%)saturate(7253%)hue-rotate(0)brightness(105%)contrast(106%);
  background-image: url('/assets/icons/youtube.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.github {
  filter: invert(12%) sepia(7%) saturate(1293%) hue-rotate(173deg) brightness(100%) contrast(90%);
  background-image: url('/assets/icons/github.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.matrix {
  background-image: url('/assets/icons/matrix.svg');
  background-color: white;
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.fediverse {
  background-image: url('/assets/icons/fediverse.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.arroba {
  background-image: url('/assets/icons/arroba.svg');
  background-size: cover;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: text-top;
}

.np-now {
  background-image: url('/smilies/listening.gif');
  background-size: cover;
  width: 32px;
  height: 25px;
  display: inline-block;
  margin: -2px auto;
}

// Custom Menu

nav a:hover {
  @extend .invert;
}

.user-menu {
  position: absolute;
  top: 0.5rem;
  left: 0;
  right: 0;
  border: none;
  text-align: center;
}

.menu {
  text-align: left;
  display: none;
  padding: 0;
  border: 1px solid #000;
  margin-bottom: 5px;
  * {
    display: none;
  }
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    height: max-content;
    &:hover {
      color: #F3F5F7; 
      background: #000;
    }
  }
}

.show-menu {
  background: #000;
  color: #F3F5F7;
  text-decoration: none;
  display: block;
  border: none;
  padding: 5px;
  text-align: left;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
}

header input[type=checkbox]{
  display: none;
}

header input[type=checkbox]:checked ~ #menu{
  display: grid;
  margin-bottom: 1rem;
  z-index: 1;
}


// Animations

@keyframes wave {
  0%, 100% { transform: rotate(0deg); }
  10%, 30%, 50%, 70%, 90% { transform: rotate(20deg); }
  20%, 40%, 60%, 80% { transform: rotate(-20deg); }
}

.waving {
  display: inline-block;
  animation: wave 3s ease-in-out;
}

// Desktop

@media only screen and (min-width: 576px) {
  .album-details {
    grid-template-columns: 250px auto;
    margin: 1em auto;
  }
}