// Font

@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: normal; font-weight: 400; src: url('/assets/fonts/courier-prime-ext-regular.woff2') format('woff2'),}
@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: italic; font-weight: 400; src: url('/assets/fonts/courier-prime-ext-italic.woff2') format('woff2'),}
@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: normal; font-weight: 700; src: url('/assets/fonts/courier-prime-ext-700.woff2') format('woff2'),}
@font-face { font-display: swap; font-family: 'Courier Prime'; font-style: italic; font-weight: 700; src: url('/assets/fonts/courier-prime-ext-700italic.woff2') format('woff2'),}

$colors: (
  background: #E7E8BE,
  background-dark:#151515,
  primary: #000,
  primary-dark: #E7E8BE,
);

@mixin color($property, $varName) {
  #{$property}: map-get($colors, $varName);
  #{$property}: var(--#{$varName}, map-get($colors, $varName));
}

@mixin color-border($property, $val1, $val2, $varName) {
  #{$property}: #{$val1} #{$val2} map-get($colors, $varName);
  #{$property}: #{$val1} #{$val2} var(--#{$varName}, map-get($colors, $varName));
}

@mixin lightmode {
  --background: #{map-get($colors, background)};
  --primary: #{map-get($colors, primary)};
  color: #000;
}

@mixin darkmode {
  --background: #{map-get($colors, background-dark)};
  --primary: #{map-get($colors, primary-dark)};
  color: #fff;
}

.monospace {
  font-family: 'Courier Prime', 'Courier New', monospace;
}
.serif {
  @extend .monospace;
  letter-spacing: -1px;
}

html {
  @include lightmode;
  @media (prefers-color-scheme: dark) {
    @include darkmode;
  }
}

body {
  @extend .monospace;
  @include color(background, background);
  @include color(color, primary);
  line-height: 1.5;
  margin: auto;
  max-width: 680px;
  word-break: break-word;
  overflow-wrap: break-word;
}

header {
  padding-top: 35px;
  text-align: center;
  .avatar {
    border: 2px solid var(--primary);
    width: 96px;
    height: 96px;
  }

  h1 {
    line-height: 1;
    @extend .fw;
    a {
      @extend .serif;
      font-size: 25px;
    }
  }
  p {
    font-size: 14px;
  }

  * {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    text-decoration: none;
  }

  nav a:hover {
    @extend .invert;
  }  
}

main {
  position: relative;
  padding: 5px;
  padding-bottom: 0;
  .h-entry {
    margin-bottom: 2rem;
  }
  svg {
    vertical-align: middle;
    margin-right: 5px;
  }
  a {
    text-decoration: none;
    border-width: 0 0 1px 0;
    border-style: dashed;
    word-wrap:break-word;
    cursor: pointer;
  }
  a:hover {
    @extend .invert;
    border: none;
  }
  article h1.p-name {
    font-size: 1.5em;
    border-bottom: 2px dashed;
    margin-bottom: 5px;
  }
}

a, hr {
  @include color(color, primary);
}

*::selection {
  @include color(color, background);
  @include color(background, primary);
}

img, video {
  max-width: 100%;
  max-height: 380px;
  height: auto;
  width: auto;
}

ul {
  padding-left: 1.5rem;
}

audio {
  @extend .fw;
}

button, input, textarea, select {
  @include color-border(border, 1px, solid, primary);
  border-radius: 0;
  @include color(background, background);
  @include color(color, primary);
  @extend .monospace;
  padding: 5px 10px;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  outline: none;

  &:focus {
    @include color-border(outline, 3px, solid, primary);
  }
}

.button {
  @extend button;
}

form {
  input, textarea, select {
    margin-bottom: 5px;
  }
  textarea {
    display: block;
  }
}

form.fw {
  @extend .fw;

  input:not([type]), input[type="submit"], input[type="button"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="file"], textarea, select {
    @extend .fw;
  }
}

blockquote {
  @include color-border(border-left, 5px, solid, primary);
  margin-left: 0;
  margin-right: 5px;
  padding-left: 10px;
  padding-right: 5px;
  font-style: italic;
  font-size: 15px;
}

.h-cite blockquote {
  border: 1px solid;
  @include color-border(border-left, 10px, solid, primary);
  overflow: hidden;
  background: rgba(200, 200, 200, 0.32);
}

pre {
  padding: 10px;
  @include color-border(border, 1px, solid, primary);
  white-space: pre-wrap;
}

mark, :not(pre) > code {
  font-size: 1rem;
  @extend .invert;
}

/* Initial values for Chroma */
.c-chroma {
  background: #fff;
  color: #000;
}

code {
  font-family: monospace;
}

table {
  @extend .p;
  border-collapse: collapse;
  border-spacing: 0;
  white-space: nowrap;
  overflow-x: auto;
}

tr, td, th {
  @include color-border(border, 1px, solid, primary);
  padding: 5px;
}

details summary {
	padding: 5px 0;
	position: relative;
	cursor: pointer;
	list-style: none;
  outline: 0;
	padding-left: 25px;
  // Show first child of summary inline
  > *:first-child {
    display: inline;
  }
}

summary:hover, .show-menu:hover {
  cursor: pointer;
}

details[open] summary ~ * {
	animation: open 0.3s ease-in-out;
	}
	  
	@keyframes open {
		0% {
		  opacity: 0;
		}
		100% {
		  opacity: 0.5;
		}
	}
	
details summary::-webkit-details-marker {
	display: none;
}
	
details summary:after {
	content: "+";
	position: absolute;
	font-size: 1.75rem;
	line-height: 0;
	margin-top: 0.65rem;
	left: 0;
	font-weight: 200;
	transform-origin: center;
	transition: 200ms linear;
}

details[open] summary:after {
	transform: rotate(45deg);
}

.p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}

.hide, .nowplaying {
  display: none;
}
.fw {
  width: 100%;
}

.ct {
  text-align: center;
}

.h400p {
  height: 400px;
}

.captchaimg {
  background-color: #fff;
}

.invert {
  @include color(color, background);
  @include color(background, primary);
  &::selection {
    @include color(color, primary);
    @include color(background, background);
  }
}

.preview {
  padding: 10px;
  @include color-border(border, 1px, solid, primary);
  margin-bottom: 5px;
}

.actions {
  @extend .p;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  * {
    text-align: center;
  }
}

#map {
  height: 400px;

  * {
    max-width: unset;
  }
}

#announcement {
  @extend .invert;
	padding: 5px;
  margin-top: 2rem;
	text-align: center;
  * {
    @extend .invert;
  }
}

#reactions button:focus {
  outline: none;
  box-shadow: none;
}

#interactions summary {
  @extend .invert;
}

footer {
  @extend .serif;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  * {
    margin-top: 0;
    margin-bottom: 0;
  }
  a {
    color: #fff;
  }
}

// Print
@media print {
  html {
    @include lightmode;
  }

  body {
    font-family: serif;
    max-width: inherit;
  }

  nav,
  .actions,
  #tts,
  #interactions,
  #tor,
  #menu,
  .category,
  #announcement,
  .pagination {
    display: none;
  }

  a {
    text-decoration: none;
  }

  // Show link
  .e-content a[href]:after {
    content: " [" attr(href) "]";
  }
}


// Menus

.user-menu {
  position: absolute;
  top: 5px;
  z-index: 1;
  border: none;
  text-align: left;
  display: block;
  a {
    display: inline-block;
    padding: 0;
  }
}


// Custom CSS Classes

.social-icons {
  display: flex;
  justify-content: center;
  padding: 0;
}

a.social-link {
  margin-right: 5px;
  padding: 5px;
}

.h-feed {
  position: relative;
  padding-left: 40px;
  h1 {
    @extend .serif;
    font-size: 1.5em;
    margin: 0;
  }
  h1.p-name {
    @extend .invert;
    margin-top: -5px;
    margin-left: -22px;
  }
  .nowplaying {
    background: var(--background);
    color: var(--primary);
    font-size: small;
    display: grid;
    grid-template-columns: 2rem auto;
    border: 2px solid var(--primary);
    padding: 5px;
    margin: -5px 0 0 -35px;
    margin-bottom: 1rem;
    img {
      margin: 0 -5px;
    }
  }
}

.h-feed::before {
  content: "";
  position: absolute;
  left: 1rem;
  top: 0;
  bottom: -90px;
  border-left: 2px solid var(--primary);
  z-index: -1;
}

article h1.p-name, article h2.p-name {
  @extend .serif;
  margin: 0;
  font-size: 1.2em;
  a {
    border-bottom: 1px dashed;
  }
  a:hover {
    border: none;
  }
}

.category {
  background: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 5px;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  text-shadow: 1px 2px 1px #000;
  * {
    text-decoration: none;
    border: none;
    padding-top: 1px;
  }
}

.visibility {
  margin-right: 10px;
}

.post-section {
	font-weight: bold;
}

a.permalink.u-url {
  font-size: small;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  margin-top: 1rem;
}

.book-cover, .playlist-track img {
	float: left; 
	margin-right: 1rem;
	max-width: 70px !important;
}

.album-info p {
  margin: 0;
}

.album-artist, .book-title {
  font-weight: bold;
}

.read-of, .playlist-track {
  display: inline-block;
  width: 100%;
}

.vinyl-case {
	border: 0;
  margin-left: -5px;
  margin-bottom: 0;
	height: 168px;
	width: 230px;
	border-image: url("/images/vinylcase.png") 0 fill;
}

.album-art {
	position: relative;
	z-index: -1;
	width: 153px;
	height: 153px;
	margin: 5px 8px;;
}

.np-track {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10px auto;
  border: 1px;
}

.np-track img {
  width: 64px;
  height: 64px;
  object-fit: cover;
}

.np-info {
  display: flex;
  flex-direction: column;
}

.np-title {
  font-weight: bold;
}

.np-artist {
  color: gray;
}

.syndication {
	text-align: right;
	> a, a:hover {
		border: none;
    background: none;
	}
}

.inline-playlist {
  margin: 1rem;
  width:36%;
  border:1px solid var(--primary);
  background: var(--background);
  padding: 10px;
}

.pagination {
  margin: 0 -5px 2px -40px;
  display: flex;
  font-size: 26px;
  a {
    @extend .invert;
    width: 100%;
    text-align: center;
    border: 1px solid var(--primary) !important;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 5px 5px var(--background);
  }
  a:hover {
    background: var(--background);
    color: var(--primary);
  }
}

// Menus

.menu {
  text-align: left;
  display: none;
  grid-template-columns: auto auto;
  padding: 0;
  // text-align: left;
  // display: grid;
  // grid-template-columns: auto auto;
  // padding: 0;
  // margin-bottom: 1rem;
  * {
    display: none;
  }
  a {
    display: block;
    margin: 5px;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    height: max-content;
  }
}

.show-menu {
  @extend .invert;
  text-decoration: none;
  display: block;
  margin: 0 5px;
  border: none;
  padding: 8px;
  text-align: center;
  font-size: large;
}

.menu-icon {
  @extend .invert;
}

header input[type=checkbox]{
  display: none;
}

header input[type=checkbox]:checked ~ #menu{
  display: grid;
  margin-bottom: 1rem;
  z-index: 1;
}

// Desktop

@media only screen and (min-width: 576px) {
  header {
    text-align: left;
    height: 110px;
    .avatar {
      float: left;
      margin: 0 15px 0 0;
    }
  }
  .show-menu {
    display: none;
  }
  .menu {
    position: absolute;
    top: 140px;
    color: var(--primary);
    display: block;
    padding: 0;
  }
  main, footer, #interactions, #reactions, .indieauth, .actions:not(form.actions) {
    margin-left: 110px;
  }
	.menu a {
		font-size: 1rem;
    display: block;
    background: var(--background);
    color: var(--primary);
    margin: 5px 0;
    border: none;
    padding: 5px;
	}
  .social-icons {
    justify-content: left;
  }
  a.social-link {
    padding: 5px;
  }
}